{% extends "layout.html" %}
{% block body %}
<div class="form-group row">
    <form action="{{ url_for('add_credential') }}" method=post class=add-entry>
        <div>
            <label>Student ID / user name:</label>
            <input class="form-control" type=text size=20 name="name">
        </div>
        <div><label>Access Key:</label>
        <input class="form-control"  type=text size=40  name="access_key">
        </div>
        <div><label>Secret Key:</label>
        <input class="form-control"  type=text size=40  name="secret_key">
        </div>
        <div style="padding-top: 15px;"><input type='submit' class="btn btn-primary" value="Add New Credential"></div>
      </div>
    </form>
</div>

  <table class='table'>
      <thead><tr>
    <th>name</th>
    <th>access key</th>
    <th>secret key</th>
      </tr></thead>
  {% for entry in entries %}
  <tr>
    <th scope="row">{{ entry.name }}</th>
    <td>{{ entry.access_key|safe }}</td>
    <td>{{ entry.secret_key[0:20]|safe }}...</td>
  </tr>
  {% else %}
    <h2>Unbelievable.  No entries here so far</h2>
  {% endfor %}
  </table>
      {% endblock %}
